.forms {
    width: 100%;
    display: flex;
}

.formsContainer {
    width: 100%;
}

.formsPageContent {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.formsTitle {
    width: 100%;
    padding-left: 30px;
}

.form {
    padding: 30px;
    width: 360px;
    border: 1px solid var(--third-color);
    border-radius: 10px;
    margin-top: 20px;
}