@media screen and (max-width:576px){
    .headerContainer {
        width: 100%;
        border-bottom: 0.4px solid var(--third-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 46px;
        padding: 0 30px;
        color: var(--second-color);
    }

    .menuButton {
        color: var(--second-color) !important;
        display: flex;
        justify-content: start;
    }

    .menuIcon {
        cursor: pointer;
    }

    .headerContent {
        /*width: 400px;*/
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .headerContent > * {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        width: 110px;
        color: var(--second-color);
        margin-left: 20px;
        border: 1px solid var(--third-color);
        border-radius: 0;
    }

    .headerName {
        width: 110px;
    }

    .notifications , .messages {
        width: 60px;
    }

    .todo {
        width: 40px;
    }
}

@media only screen and (min-width: 576px) {
    .headerContainer {
        width: 100%;
        border-bottom: 0.4px solid var(--third-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 46px;
        padding: 0 30px;
        color: var(--second-color);
    }

    .menuButton {
        width: 30%;
        display: flex;
        justify-content: start;
    }

    .menuIcon {
        color: var(--second-color);
        cursor: pointer;
    }

    .headerContent {
        width: 70%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .headerContent > * {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        width: 110px;
        color: var(--second-color);
        margin-left: 20px;
        border: 1px solid var(--third-color);
        border-radius: 0;
    }

    .headerName {
        width: 110px;
    }

    .notifications , .messages {
        width: 60px;
    }

    .todo {
        width: 40px;
    }
}

@media screen and (min-width:768px){

}

@media screen and (min-width:992px){

}

@media screen and (min-width:1200px){

}