@media screen and (max-width:576px){
    .headerContainer {
        width: 100%;
        border-bottom: 0.4px solid var(--third-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 46px;
        padding: 0 30px;
        color: var(--second-color);
        position: relative;
    }

    .menuButton {
        color: var(--second-color) !important;
    }

    .menuIcon {
        cursor: pointer;
    }

    .headerName {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
    }

    .expandMoreIcon {
        padding-top: 4px;
    }

    .userOptions {
        position: absolute;
        right: 24px;
        top: 46px;
        opacity: 0;
        border: 1px solid var(--third-color);
        padding: 4px;
        width: 120px;
        background-color: #FFF;
    }

    .logOut {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logOutIcon {
        padding-top: 4px;
    }
}

@media only screen and (min-width: 576px) {
    .headerContainer {
        width: 100%;
        border-bottom: 0.4px solid var(--third-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 46px;
        padding: 0 30px;
        color: var(--second-color);
        /*position: relative;*/
    }

    .menuButton {
        color: var(--second-color) !important;
        display: flex;
        justify-content: start;
    }

    .menuIcon {
        cursor: pointer;
    }

    /*.dropdown {*/
    /*    position: relative;*/
    /*    width: 20%;*/
    /*    background-color: yellow;*/
    /*    height: 400px;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*}*/

    /*.menu {*/
    /*    width: 400px;*/
    /*    background-color: yellow;*/
    /*    position: absolute;*/
    /*    list-style-type: none;*/
    /*    margin: 5px 0;*/
    /*    padding: 0;*/
    /*    border: 1px solid grey;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    !*width: 150px;*!*/
    /*}*/

    /*.menu > li {*/
    /*    margin: 0;*/
    /*    background-color: white;*/
    /*}*/

    /*.menu > li:hover {*/
    /*    background-color: lightgray;*/
    /*}*/

    .headerName {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
    }

    .expandMoreIcon {
        padding-top: 4px;
    }

    .userOptions {
        position: absolute;
        right: 24px;
        top: 46px;
        opacity: 0;
        border: 1px solid var(--third-color);
        padding: 4px;
        width: 120px;
        background-color: #FFF;
    }

    .logOut {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logOutIcon {
        padding-top: 4px;
    }
}

@media screen and (min-width:768px){

}

@media screen and (min-width:992px){

}

@media screen and (min-width:1200px){

}