@media screen and (max-width:576px){
    .areaChartContainer {
        width: calc(100% - 60px);
        height: auto;
        border: 0.4px solid var(--third-color);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 576px) {
    .areaChartContainer {
        width: 100%;
        height: auto;
        border: 0.4px solid var(--third-color);
        border-radius: 10px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
    }
}

@media screen and (min-width:768px){

}

@media screen and (min-width:992px){
    .areaChartContainer {
        width: calc(75% - 90px);
        height: 400px;
    }
}

@media screen and (min-width:1200px){

}